
//-----------------------------mixin--------------------------//
.banner-category(@margin-top, @margin-left, @margin-bottom-title, @font-size-title, @line-height, @width-dis, @font-size-dis, @line-height-dis) {
    .banner-category{
        &-text{
            padding-bottom: 63px;
            margin-top: @margin-top;
            margin-left: @margin-left;
            &-title{
                margin-bottom: @margin-bottom-title;
                font-size: @font-size-title;
                /* letter-spacing: -1px; */
                line-height: @line-height;
                color: #ffffff;
                font-family: @font-family__markerfield;
            }
            &-discription{
                width:  @width-dis;
                /* height: 46px; */
                letter-spacing: -0.1px;
                font-size: @font-size-dis;
                line-height: @line-height-dis;
                color: #ffffff;
            }
        }
    }
  }

& when(@media-common = true){
    //========================================banner category=================================//
    .banner-category{
        background-image: url('@{baseDir}images/banner_category.png');
    }
    //========================================list icon=======================================//
      .icons-category{
        border-bottom: 1px solid @border__color-icon-category;
        display: flex;
        justify-content: center;
    }
    //========================================toolbar=========================================//
    .toolbar{
        &-amount {
        position: relative;
        &::after{
            content: '';
            background-color: #eee;
            position: absolute;
        }
    }
    select {
        background-color: transparent;
        box-shadow: none;
    }
}
    .sorter-action {
        display: none;
    }

    //========================================List product====================================//
    .page-layout-1column .products ~ .toolbar-products {
        display: none;
    }  
    .page-products.page-layout-1column .products-grid .product-item{
        text-align: center;
    }
     .products-grid {
        margin-top: 41px;
        clear: both;
        .product-item-info {
            width: 100%;
            &:not(:hover):not(.active) {
                .product-item-inner {           
                    position: relative;
                    height: auto;
                    width: auto;
                    border: none;
                    box-shadow: none;
                }
            }
            &:hover{
                box-shadow: unset;
                border: unset;
                margin: 0;
                outline: 1px solid @color-ede;
                overflow: hidden;
            }
        }
        .product-item-photo {
            position: relative;
        }
        .product-item-inner {
            box-shadow: unset;
            border: unset;
            left: 0;
            margin: 0;
            padding: 0;
            right: 0;
        }
    .product-item .price-box {
        text-align: center;
        .price{
            letter-spacing: 1.8px;
            color: #30241c;
            font-family: @font-family__avenir-heavy;
        }
        .price-label {
            display: none;
        }
    }
    .action.primary {
        line-height: 20px;
        color: #ffffff;
        font-family: @font-family__avenir-heavy;
        letter-spacing: 0.1px;
    }
    }
    .product-new{
        z-index: 11;
        position: absolute;
        background: #222;
        text-transform: uppercase;
        line-height: 16px;
        color: #ffffff;
        font-weight: 800;
        font-family: @font-family__avenir-black;
    }
    .product-item-name a{
        line-height: 28px;
        color: #30241c;
        font-family: @font-family__avenir-roman;
    }
    //========================================Swatches color=================================//
    .swatch-attribute.color {
        margin-bottom: 16px;
    .swatch-attribute-options{
        display: inline-block;
        margin: 0px;
        max-height: 42px;
        &:hover {
            max-height: 100%;
            transition: 0.5s;
           
        }
        .swatch-option.color {
            width: 30px;
            height: 30px;
            margin-right: 4px;
            border-radius: 50%;
            padding: 0;
            position: relative;
            border: 3px solid @color-white;
            display: inline-block;
            float: left;
            &:not(.disabled){
                outline: unset;
                box-shadow: unset;
            }
            &.selected {
                border: 3px solid blue;
                box-shadow: unset;
                margin-bottom: 44px;
                transition: 0.5s;
    
            }
            &:hover {
                border: 3px solid @color-white;
                box-shadow: 0 0 3px blue;
                margin-bottom: 44px;
                transition: 0.5s;
            }
        }
        .swatch-more {
            margin-left: 26px;
        }
    }
}
    .swatch-option-tooltip { 
        border: 1px solid #e8d5d2;
        padding: 0 5px;
        max-width: 140px;
        max-height: 100%;
        min-height: 20px;
        min-width: 20px;
        text-align: center;
        background: #fff;
        .title {
            font-size: 12px;
            line-height: 24px;
        }
        .corner {
            transform: rotate(180deg);
            top: 0;
            &:after, &:before {
                border-color: #e8d5d2 transparent transparent transparent;
            }
            &::before{
                left: 14px;
                top: 4px;
            }
            &::after{
                left: -2px;
                top: 4px;
            }
        }
    }

}
//
//  Desktop (style-l.css)
//  _____________________________________________

// ---------------min 1440px-------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
     //========================================Swatches color==========================//
    .banner-category{
        .banner-category(19.1%, 11.3%, 18px, 100px, 80px, 31%, 18px, 31px);
    }
    //========================================toolbar=================================//
    .page-layout-1column{     
        .toolbar{
            &-amount {
            padding: 11px 0 0 132px;
            margin: 0;
            &::after{
                margin-left: 28px;
                top: 24px;
                width: 1px;
                height: 22px;
            }
        }
    }
    } 
   
}
//---------------min 1024px-------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    //========================================Banner=================================//
    .banner-category{
        height: 540px;
        .banner-category(26%, 8%, 18px, 100px, 80px, 47%, 18px, 31px);
    }
    //========================================Toolbar=================================//
    .page-layout-1column{     
        .toolbar-products {
            width: 35%;
        }
    } 
    //========================================Product=================================//
    .page-products .products-grid .product-items {
        width: 101%;
    }
     .page-products.page-layout-1column .products-grid .product-item {
        margin-top: -30px;
        margin-bottom: 4px;
        padding: 0;
        width: 32%;
        max-width: 400%;
        &:nth-child(3n+1){
            margin:0  20px 4px -2px;
            .product-item-name{
                margin: 1px 0px 0 4px;
                a{
                    letter-spacing: 0.8px;
                }
            }
        }
        &:nth-child(6n+2){    
            margin: -5px 19px 4px 0;
            .product-item-name{
                margin: 6px 0px 0 4px;
                a{
                    letter-spacing: 0.1px
                }
            }
        }
        &:nth-child(2n+3){
             margin: -6px 0 4px 0;
            .product-item-name{
                margin: 7px 0px 0 4px;
            }
        }
        &:nth-child(6n+6){    
            margin: -5px 0 0 19px;
            .product-item-name{
                margin: 6px 0px 0 4px;
                a{
                    letter-spacing: 0.1px
                }
            }
        }
    }
}
// // ---------------min 768px-------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //========================================banner=================================//
    .banner-category{
        height: 360px;
        .banner-category(22%, 4%, 18px, 100px, 80px, 60%, 18px, 31px);
    }
    //========================================list icon=================================//
      .icons-category{
        .category-icons{
            padding: 51px 27px 12px 26px;
        }
    }
    //========================================toolbar=================================//
    .modes {
        overflow: hidden;
        display: none;
    }    
    .page-layout-1column{     
        .toolbar-products {
            // position: unset;
            width: 42%;
            display: inline-block;
            margin: 0;
            padding-top: 15px;
            // .toolbar-amount{
            //     margin: 5px 0 0 0;
            // }
        }
    } 
    //========================================Product=================================//
    .page-products .products-grid .product-items {
        width: 100%;
    }
    .page-products.page-layout-1column .products-grid .product-item {
        padding: 0;
        width: 49%;
        max-width: 400%;
        // margin: -30px 0 4px 0;
        margin-top: 0;
        &:nth-child(2n+1){
            margin-right: 1%;
        }
        &:nth-child(2n+2){    
           margin-left: 1%;
        }
    }
    .products-grid .product-item-info:hover {
        padding: 0 0 95px 0;
    }
    .product-item .price-box {
        margin: 2px 0 8px 5px;
        .price{
            font-size: 18px;
        }
    }
    .product-item .tocart {
        margin: -3px 0 0 15px;
        border-radius: 3px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 14px;
        padding-top: 14px;
    }
    .action.primary {
        font-size: 15px;
    }
    .product-new{
        left: 43.7%;
        top: -10px;
        padding: 7px 12px; 
        font-size: 12px;
    }
    .product-item-name a{
        font-size: 16px;
    }
   
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    //========================================Banner=================================//
      .banner-category{
        height: 360px;
        .banner-category(22%, 4%, 18px, 100px, 80px, 75%, 18px, 31px);
    }
    //========================================List color=============================//
      .icons-category{
        .category-icons{
            padding: 51px 10px 12px 10px;
           
        }
    }
    //========================================Toolbar================================//
    .toolbar-amount {
        display: flex;
        justify-content: center;
        .toolbar-number{
            margin-right: 5px;
        }
    }
    //========================================Product================================//
    .product-item-actions .actions-primary + .actions-secondary {
        display: none;
    }
    .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
        margin: 0 0 50px 0;
    }
    //tắt hover
    .products-grid .product-item-info:hover, .products-grid .product-item-info.active {
        box-shadow: unset;
        border: unset;
        margin: 0;
        padding: 0 0 95px 0;
    }
    .products-grid .product-item-actions {
        margin: 0;
    }
    // .page-products .products-grid .product-items {
    //     width: 100%;
    // }
    .page-products.page-layout-1column .products-grid .product-item {
        padding: 0;
        width: 49%;
        max-width: 400%;
        margin-top: 0;
        &:nth-child(2n+1){
            margin-right: 1%;
        }
        &:nth-child(2){
            padding-bottom: 3px;
        }
        &:nth-child(2n+2){    
           margin-left: 1%;
        }
    }
   
}



//
//  Mobile (styles-m.css)
//  _______________________________________________________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //========================================Toolbar================================//
    .toolbar select {
        margin: 18px 9px;
    }
    .toolbar-amount {
        display: flex;
        justify-content: center;
        .toolbar-number{
            margin-right: 5px;
        }
    }
    .product-item .price-box {
        margin: 6px 0;
        .price{
            font-size: 15px;
        }
    }
    .product-item .tocart {
        margin: -3px 0 0 15px;
        border-radius: 3px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 14px;
        padding-top: 14px;
    }
    .action.primary {
        font-size: 15px;
    }
    .product-new{
        left: 42%;
        top: -10px;
        padding: 7px 12px; 
        font-size: 12px;
    }
    .product-item-name{
        margin: 0 10px;
        a{
            font-size: 16px;
        }
    } 
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //========================================Banner=================================//
    .banner-category{
        height: 360px;
        .banner-category(22%, 4%, 18px, 100px, 80px, 75%, 18px, 31px);
    }
    //========================================List color==============================//
      .icons-category{
        .category-icons{
            padding: 51px 10px 12px 10px;
           
        }
    }
    //========================================Toolbar================================//
    .toolbar select {
        margin: 18px 9px;
    }
    .toolbar-amount {
        display: flex;
        justify-content: center;
        .toolbar-number{
            margin-right: 5px;
        }
    }
    //========================================Product================================//
    .product-item-actions .actions-primary + .actions-secondary {
        display: none;
    }
    .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
        margin: 0 0 50px 0;
       .adjust-button{
            display: none;
        }
    }
    .products-grid .product-item-info:hover, .products-grid .product-item-info.active {
        box-shadow: unset;
        border: unset;
        margin: 0;
        padding: 0 0 30px 0;
        .adjust-button{
            display: none;
        }
    }
    .products-grid .product-item-actions {
        margin: 0;
    }
    .product-item .price-box {
        margin: 6px 0;
        .price{
            font-size: 15px;
        }
    }
    .product-item .tocart {
        margin: -3px 0 0 15px;
        border-radius: 3px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 14px;
        padding-top: 14px;
    }
    .action.primary {
        font-size: 15px;
    }
    .product-new{
        left: 40.7%;
        top: -10px;
        padding: 7px 12px; 
        font-size: 12px;
    }
    .product-item-name{
        margin: 0 40px;
        a{
            font-size: 16px;
        }
    } 
     //========================================Swatchés================================//
     .swatch-attribute.color{
        display: none;
    }
}
// ---------------max 480px-------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    //========================================Banner================================//
    .banner-category{
        height: 340px;
        .banner-category(46%, 4%, 5px, 54px, 80px, 80%, 16px, 22px);
    }
    //========================================List icon=============================//
     .icons-category{
        .category-icons{
            padding: 51px 18px 12px 18px;
            img{
                max-width: 50px;
                max-height: 50px;
            }
            &-name{
                font-size: 12px;
                line-height: 15px;
            }
            &:last-child, &:first-child{
                display: none;
            }
        }
    }
    .filter-title strong.hollow-button {
        margin: 18px 0px;
        padding: 8px 29px 7px 29px;
    }
    .toolbar select {
        margin: 18px 0px;
    }
    .sorter-options {
        padding: 0 6px 0 10px;
    }
    .page-products.page-layout-1column .products-grid .product-item {
        padding: 0;
        width: 49%;
        max-width: 400%;
        margin-top: 0;
        &:nth-child(2n+1){
            margin-right: 1%;
        }
        &:nth-child(2n+2){    
           margin-left: 1%;
        }
    }
    .product-item .price-box {
        margin: 6px 0;
        .price{
            font-size: 14px;
        }
    }
    .product-item .tocart {
        margin: 0;
        border-radius: 3px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 11px;
        padding-top: 10px;
    }
    .action.primary {
        font-size: 15px;
    }
    .product-new{
        left: 38%;
        top: -4px;
        padding: 4px 8px;
        font-size: 10px;
    }
    .product-item-name{
           margin: 0 10px;
        a{
            font-size: 14px;
        }
    } 
}